*{
    margin: 20px;
}
html {
    scroll-behavior: smooth;
}
body{
    text-align: center;
    color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.bgimg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: fixed;
    filter: brightness(60%);
}
header{
    text-align: center;
    height: 50px;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;    
}
.navbar a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}
.profile{
    border-radius: 50%;
    width:150px;
    height:150px;
    margin-top: 20px; 
    border:3px solid #00ffff ;
}
 h1 {
    margin-top: 15px;
    font-size: 32px;
    font-variant: small-caps;
 }
 h3{
    margin-bottom: 20px;
    color:#00ffff;
 }
 #intro{
    max-width: 700px;
    margin: auto;
    padding: 20px;
    line-height: 1.5;
 }
.social-icons {             
    margin-top:10px;
}  
.social-icons i{
    color: white;
    font-size: 28px;
    margin-top: 0 15px;
} 
.Technology ul{
    list-style: none;
    margin-top: 10px
}
.Technology li{
    margin:5px 0;
}
form {
    max-width: 400px;
    margin: 30px auto;
    background:#b3f5ea;
    border-radius: 10px;
    padding: 20px;
}
form input,form textarea,form label{
    width: 80%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
    color: black;
  
}
form button{
    width: 50%;
    padding: 10px;
    border: none;
    background: #6bfa58 ;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.Technology{
    margin: 10px;
}
.file-uploads{
    margin:20px 0;
}
pre{
    white-space: pre-wrap;
    text-align: left;
    max-width: 800px;
    margin: auto;
}
footer{
    margin-top: 30px;
    padding : 15px;
    background: #00000099;
}
footer a{
    color: #00ffff;
}

.card p{
    color: #00ffff;
}
.child > p{
    color:burlywood;
}
.adjacent h2 + p{
    color: chartreuse;
}
.subsequent h2 ~ p{
    color: #e2d8e2;
}
.element{
    color: #ff6383;
}
.text{
    color:chartreuse;
}
#title{
    color: cyan;
}
