body{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bgimg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: fixed;

}
header{
    background-color: #c2c4e1;
    text-align: center;
    height: 50px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 20px;
    gap: 10px;
}
.navbar img{
    margin-top: 5px;
}
.profile{
    display: block;
    border-radius: 50%;
    width:150px;
    height:150px;
    margin: auto; 
}
#intro, h1, h3 {
    position: relative;
    text-align: center;
    color: white;
}
.Technology {
    position: relative;
    text-align: center;
    color: white;
}
ul {
    list-style-position: inside; 
    padding-left: 0;           
}
aside {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #edf1f3;
  font-style: italic;
  color: #f3f4f5;
}

aside  p {
  margin: 0.5rem;
}
form {
    position: relative;
    text-align: center;
    color: white;
}
label{
    color: #f0f8ff;
    font-size: 15px;
    
}
.Technologies{
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-left: 2rem;
}
.file-uploads, label{
    margin-left: 2rem;
    color: #f0f8ff; ;
}
.intro{
    color: #f0f8ff;
    margin-left: 2rem;
}
.quotations{
    color: #f0f8ff;
    margin-left: 2rem;
}
abbr{
    color: #fc5a1a;
}
.citation{
    color: #0a0a0a;
    margin-left: 2rem;
    background-color: antiquewhite;
}
::placeholder{
    color: #000;
}

button{
    background-color: #fc5a1a;

}
.social-icons {
    display: flex;                 
    justify-content: center;
    align-items: center;               
    margin-top: 20px;
    font-size: 30px;
    gap: 10px;
}
.social-icons i{
    color: #f0f8ff;
}
.day-forecast{
    color: #080808;
    background-color: #ee875e;
    margin-left: 2rem;
}
video{
    color: #f0f8ff;
}
footer{
    background-color: #f0f8ff;
    color: #010202;
    text-align: center;
}