body{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bgimg {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
}

.profile{
    display: block;
    border-radius: 50%;
    width:150px;
    height:150px;
    margin: auto; 
}
#intro, h1, h3 {
    position: relative;
    text-align: center;
    color: white;
}
.Technology {
    position: relative;
    text-align: center;
    color: white;
}
ul {
    list-style-position: inside; 
    padding-left: 0;           
}
form {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 10px;
}
label{
    color: #f0f8ff;
    font-size: 15px;
    
}
::placeholder{
    color: #000;
}

button{
    background-color: #fc5a1a;

}
.social-icons {
    display: flex;                 
    justify-content: center;
    align-items: center;               
    margin-top: 20px;
    font-size: 30px;
    gap: 10px;
}
.social-icons i{
    color: #f0f8ff;
}